#board {
    padding: 3em;
    text-align: center;
    /* border: 1px solid fuchsia; */
}

#status {
    margin: 2% auto;
    padding: 1%;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
    /* border: 1px dashed fuchsia; */
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 100px;
    font-family: sans-serif;
}

.row > div:hover {
    background-color: bisque;
}

.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.highlight {
    background-color: crimson;
    color: white;
}